.dice-button {
  border-radius: 16px;
  height: 64px;
  width: 64px;
	background-size: 160% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 2px;
  margin-left: 2px;
  background-color: white;
}

.dice-gray-border {
  border: 4px solid gray;
}
.gray-border {
  border: 1px solid gray;
}

.dice-black-border {
  border: 4px solid black;
}

.dice-red-border {
  border: 4px solid red;
}

.red-border {
  border: 2px solid red;
}

.roll-dice-button {
  border-radius: 5px;
  background-color: #f1b2b2;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 8;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.3em;
  font-size: 18px;

}

.one-left {
  background-image: linear-gradient(
    rgba(255, 255, 255, 1) 66.6%,
    rgba(255, 255, 255, 0) 66.6%,
    rgba(255, 255, 255, 0) 0%
  );
}

.two-left {
  background-image: linear-gradient(
    rgba(255, 255, 255, 1) 33.3%,
    rgba(255, 255, 255, 0) 33.3%,
    rgba(255, 255, 255, 0) 0%
  );
}

.none-left {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 0%
  );
}

.show-button {
  border-radius: 5px;
  background-color: lightpink;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.rules {
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-column-start: 6;
  grid-row-start: 12;
  grid-row-end: 17;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.1em;
  font-size: 18px; */
}

.scoreboard {
  /* grid-column-start: 3;
  grid-column-end: 5; */
  grid-column-start: 6;
  grid-row-start: 12;
  grid-row-end: 17;
  /* grid-column-start: 6;
  grid-row-start: 1;
  grid-row-end: 8; */
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.0em;
  font-size: 18px;
}

.restart {
  grid-column-start: 6;
  grid-row-start: 9;
  grid-row-end: 11;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


@media screen and ( max-width : 512px) {
	.show-button {
    width: auto;
    height: auto;
  }
  .dice-button {
    width: 18%;
    height: calc(18vw * 1)
  }
}
