.game {
  text-align: center;
  background-color: aliceblue;
  padding-top: 2px;
  padding-bottom: 5px;
}

.form {
  padding-top: 5px;
  display: inline-grid;
  text-align: center;
  grid-template-columns: repeat(6, 64px);
  grid-template-rows: repeat(18, 32px);
}
.dice-rack {
  padding-top: 5px;
}

@media screen and (max-width: 512px) {
  .game {
    height: auto;
    width: auto;
    padding: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  .form {
    grid-template-columns: repeat(6, 16.6vw);
    grid-template-rows: repeat(18, 4.6vh);
    padding: 0px;
  }

  .dice-rack {
    padding: 0px;
    
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
