.administration {
    width: 100%;
    padding: 5%;
    text-align: center;
}

.container-custom {
    background-color: aliceblue;
    min-height: 95vh;
    width: 100%;
    padding: 5%;
}

.container-custom-inner {
    padding: 5%;
    padding-top: 0px;
}

.container-button {
    text-align: center;
    width: 100%;
}

th {
    text-align: center;
    background-color: lightskyblue;
    cursor: pointer;
}

tr {
    height: 4vh;
    background-color: white;
    cursor:pointer;
}

tr:hover {
    background-color: lightgray;
}

td {
    border-bottom: 1px solid black;
    text-align: center;
}

.roles {
    padding-left: 0px;
    text-align: left;
}

.roles li {
    display: inline;
}

.roles li:after {
    content: ", ";
}

.roles li:last-child:after {
    content: "";
}

.button-admin {
    text-align: center;
    width: 30%;
    font-size: 100%;
    margin: 5px;
}

@media screen and (max-width: 512px) {
    .container-button {
        width: auto;
        padding-top: 5px;
    }

    

    tr {
        height: 8vh;
        background-color: white;
        cursor:pointer;
    }

    .container-custom {
        padding: 0px;
    }
    
    .button-admin {
        margin-bottom: 5px;
        width: 80%;
        font-size: 100%;
    }
}