.label {
  height: 32px;
  width: 64px;
  border-radius: 5px;
  border: 1px solid black;
  line-height: normal;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.label-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.label-sum {
  background-color: lightskyblue;
  font-size: 10px;
}

.label-sum-number {
  background-color: lightskyblue;
  font-size: 25px;
}

.label-sum-number-final {
  background-color: lightskyblue;
  font-size: 25px;
  grid-column-start: 5;
  grid-column-end: 7;
  width: auto;
}

.info {
  background-color: lightpink;
  font-size: 16px;
}


@media screen and ( max-width : 512px) {
	.label{
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  .info {
    height: 100%;
  }
}
